
:root {
    --primary-color-black: #1d1d1d;
    --primary-color-text: #cccccc;
    --primary-text-hover: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav, .footer {
    width: 100vw;
    background-color: var(--primary-color-black);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    > ul {
        list-style-type: none;
        display: flex;
        align-items: center;

        > a {
            text-decoration: none;
            padding: 1.5rem;
            color: var(--primary-color-text);
            display: flex;
            align-items: center;

            &:hover {
                color: var(--primary-text-hover);
            }

            > svg {
                width: 1rem;
                height: 1rem;
                margin-right: 0.5rem;

                &:hover {
                    color: var(--primary-text-hover);
                }
            }
        }
    }
}