
.nav {
    width: 100vw;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: space-around;

    > ul {
        list-style-type: none;
        display: flex;
        align-items: center;

        > a {
            text-decoration: none;
            padding: 1.5rem;
            color: #cccccc;
            display: flex;
            align-items: center;

            > svg {
                width: 1rem;
                height: 1rem;
                margin-right: 0.5rem;
            }
        }
    }
}